body {
	border: 0;
	padding:; 0;
	margin: 0;
	font-family: "Trade Gothic", sans-serif ;
}


header {
	text-align: center;
}

span {
	display: inline-block;
	line-height: 1px;
	
}

h1, h3 {
	font-family: "Franklin Gothic", serif;
}

#form {
	text-align: center;
	margin-top: 40px;
	margin-left: 20px;
}

#salarytotal {
	border-bottom: 1px solid black;
	margin-left: 20px;
	margin-right: 20px;
}

.input-group {
	margin-top: 10px;
	width: 75%;
}

.wrapper {
	background-color: white;
}



